﻿@{
    Layout = "";
}
@model ConfigurationModel
@using Nop.Plugin.Payments.BBVAMultipagos.Models;
@using Nop.Web.Framework;

@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.LogDebug_OverrideForStore, model => model.LogDebug, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.LogDebug)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.LogDebug)
                        @Html.ValidationMessageFor(model => model.LogDebug)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.Cryptkey_OverrideForStore, model => model.Cryptkey, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.Cryptkey)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Cryptkey)
                        @Html.ValidationMessageFor(model => model.Cryptkey)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.AdditionalFee_OverrideForStore, model => model.AdditionalFee, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.AdditionalFee)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.AdditionalFee)
                        @Html.ValidationMessageFor(model => model.AdditionalFee)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.AdditionalFeePercentage_OverrideForStore, model => model.AdditionalFeePercentage, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.AdditionalFeePercentage)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.AdditionalFeePercentage)
                        @Html.ValidationMessageFor(model => model.AdditionalFeePercentage)
                    </div>
                </div>
                <div class="content-header clearfix">
                    <div>
                        <h3 class="">CAMPOS DE CONFIGURACION MULTIPAGOS</h3>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.pref_c_referencia_OverrideForStore, model => model.pref_c_referencia, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.pref_c_referencia)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.pref_c_referencia)
                        @Html.ValidationMessageFor(model => model.pref_c_referencia)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.val_1_OverrideForStore, model => model.val_1, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.val_1)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.val_1)
                        @Html.ValidationMessageFor(model => model.val_1)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.t_servicio_OverrideForStore, model => model.t_servicio, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.t_servicio)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.t_servicio)
                        @Html.ValidationMessageFor(model => model.t_servicio)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.c_cur_OverrideForStore, model => model.c_cur, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.c_cur)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.c_cur)
                        @Html.ValidationMessageFor(model => model.c_cur)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.clave_entidad_OverrideForStore, model => model.clave_entidad, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.clave_entidad)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.clave_entidad)
                        @Html.ValidationMessageFor(model => model.clave_entidad)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.val_16_OverrideForStore, model => model.val_16, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.val_16)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.val_16)
                        @Html.ValidationMessageFor(model => model.val_16)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.val_19_OverrideForStore, model => model.val_19, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.val_19)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.val_19)
                        @Html.ValidationMessageFor(model => model.val_19)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.val_20_OverrideForStore, model => model.val_20, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.val_20)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.val_20)
                        @Html.ValidationMessageFor(model => model.val_20)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.email_admin_OverrideForStore, model => model.email_admin, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.email_admin)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.email_admin)
                        @Html.ValidationMessageFor(model => model.email_admin)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.accion_OverrideForStore, model => model.accion, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.accion)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.accion)
                        @Html.ValidationMessageFor(model => model.accion)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.puntos_OverrideForStore, model => model.puntos, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.puntos)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.puntos)
                        @Html.ValidationMessageFor(model => model.puntos)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-9">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}