﻿@model Nop.Plugin.Payments.BBVAMultipagos.Models.PaymentInfoModel
@using Nop.Web.Framework.UI
@{
    Layout = "";
}
<input type="hidden" id="apiConektaKey" value="@ViewBag.ApiConekta_PublicKey" />

<div class="section">
    <div class="enter-address">
        <div class="edit-address" id="tblDatos">
            <div class="inputs">
                @Html.LabelFor(model => model.CardholderName, false):
                @Html.TextBoxFor(model => model.CardholderName, new { autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.CardholderName)
            </div>
            <div class="inputs">
                @Html.LabelFor(model => model.CardNumber, false):
                @Html.TextBoxFor(model => model.CardNumber, new { autocomplete = "off", maxlength = 22 })
                @Html.ValidationMessageFor(model => model.CardNumber)
            </div>
            <div class="inputs">
                @Html.LabelFor(model => model.ExpireMonth, false):
                @Html.DropDownListFor(model => model.ExpireMonth, Model.ExpireMonths, new { @class = "ck-cc-date", autocomplete = "off", maxlength = 2 })
                @Html.DropDownListFor(model => model.ExpireYear, Model.ExpireYears, new { @class = "ck-cc-date", autocomplete = "off", maxlength = 2 })
            </div>
            <div class="inputs">
                @Html.LabelFor(model => model.CardCode, false):
                @Html.TextBoxFor(model => model.CardCode, new { autocomplete = "off", maxlength = 4 })
                @Html.ValidationMessageFor(model => model.CardCode)
            </div>
        </div>
    </div>
</div>